<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nfl.kfb.mapper.appver.AppverMapper">

	<resultMap id="AppverResult" type="Appver">
		<id property="app" 				column="APP" 				javaType="string" />
		<id property="ver" 				column="VER" 				javaType="string" />
		<id property="needUpdate" 		column="NEED_UPDATE" 		javaType="int" />
		<id property="ableSendPunch" 	column="ABLE_SEND_PUNCH" 	javaType="int" />
	</resultMap>

	<select id="selectAppver" parameterType="map" resultType="Appver" resultMap="AppverResult">
		SELECT
			APP
			, VER
			, NEED_UPDATE
			, ABLE_SEND_PUNCH
		FROM
			app_ver
		WHERE
			APP = #{app}
			AND VER = #{ver}
	</select>
	
</mapper>