<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nfl.kfb.mapper.admin.AdminMapper">

	<resultMap id="AdminSubtractResult" type="AdminSubtract">
		<id property="appId" 			column="APPID" 		javaType="string" />
		<id property="subGold" 			column="SUB_GOLD" 	javaType="int" />
		<id property="subBall" 			column="SUB_BALL" 	javaType="int" />
		<id property="subPunch" 		column="SUB_PUNCH" 	javaType="int" />
	</resultMap>
	
	<select id="selectAdminSubtract" parameterType="map" resultType="AdminSubtract" resultMap="AdminSubtractResult">
		SELECT
			APPID
			, SUB_GOLD
			, SUB_BALL
			, SUB_PUNCH
		FROM
			admin_subtract
		WHERE
			APPID = #{appId}
	</select>
	
	<delete id="deleteAdminSubtract" parameterType="map">
	<![CDATA[ 
		DELETE FROM
			admin_subtract
		WHERE
			APPID = #{appId}
	]]>
	</delete>
	
</mapper>